{% extends 'base.html' %}

{% block content %}


<form method="POST" enctype="multipart/form-data" class="space-y-4">
    {% csrf_token %}
    
    <div class="flex flex-col space-y-2">
        <label for="{{ form.name.id_for_label }}" class="text-gray-700">Name</label>
        {{ form.name }}
    </div>
    
    <div class="flex flex-col space-y-2">
        <label for="{{ form.artist_name.id_for_label }}" class="text-gray-700">Artist Name</label>
        {{ form.artist_name }}
    </div>

    <div class="flex flex-col space-y-2">
      <label for="album_cover" class="text-gray-700">Album Artwork</label>
      <input type="file" name="album_cover" accept="image/*" class="py-2 border rounded-md">
    </div>
  
 
    <input type="submit" value="Submit!" class="bg-blue-500 text-white px-4 py-2 rounded-md shadow-md hover:bg-blue-600 cursor-pointer">
</form>

{% endblock %}