{% extends 'forum_base.html' %}
{% block content %}
{% load static %}



<div class="w-3/4 m-auto space-y-1 py-2 my-4">
    <h1 class="text-4xl">{{ category.album_name }}<h1> 
    <h4 class="text-2xl">{{ category.artist }}<h4>
</div>


<div class="bg-white w-3/4 m-auto my-4">
    <div class="text-left p-2">
        
        <p class="text-gray-700 text-sm inline pr-1">{{category.user.username}}</p>

        <p class="text-gray-400 text-sm inline pr-1">this is your thread </p>

        <button id="thread_button">&#9999;&#65039;</button>

        <div class="pl-2 my-0.5">

            <h1 id="title" class="text-xl">{{ thread.title }}</h1>
            <p id="text" class="text-lg">{{ thread.text }}</p>
            {% if is_users_thread %}


                <div id="form-div-thread" style="display: none;" class="bg-blue-500 text-center pt-6 pb-2 my-3">
                    <form id="form-thread" action="{% url 'forum:thread_update' category.id thread.id %}" method="POST">
                        {% csrf_token %}
                        <!-- Render the inputs -->
                        <p>
                            <label>Title:</label>
                            <input type="text" name="title" maxlength="200" required id="form_title"></input>
                        </p>
                        <p>
                            <label>Text:</label>
                            <textarea class="mt-3" name="text" cols="40" rows="10" maxlength="3000" id="form_text" required></textarea> 
                        </p>
                        <input class="styled-button" type="submit" value="Update Form">
                    </form>

                    <a class="styled-button" href={% url 'forum:thread_delete' category.id thread.id %}>Delete This Thread</a>
                </div>

        </div>

            
        {% endif %}
    </div>



    <div class="bg-blue-500 pt-6 pb-2" id="form-div">
        <form id="form" action="{% url 'forum:thread_details' category.id thread.id %}" method="POST">
            {% csrf_token %}
            <!-- Render the inputs -->
            {{ post_form.as_p }}
            <input class="styled-button" type="submit" value="Reply">
        </form>
    </div>

    {% if thread.post_set.count %}
    <div id="posts-container" class="text-left p-2">
        {% for post in thread.post_set.all %}

                <div id="header">
                    <p class="text-gray-700 text-sm inline pr-1">{{post.user.username}}</p>
                    {% if post.user.id == user_id %}
                        <p class="text-gray-400 text-sm inline pr-1">this is your post</p>
                        <button id="edit-post-button">&#9999;&#65039;</button>
                    {% endif %}
                    
                    <div class="pl-2 my-0.5">
                    <h2>{{ post.text }}</h2>
                    {% comment %} <p>{{ post.upvotes }}</p>
                    <button>&#8679;</button><button>&#8681;</button> {% endcomment %}

                    {% if post.user.id == user_id %}

                    {% comment %} <button id="edit-post-button">&#9999;&#65039;</button> {% endcomment %}

                        <div id="edit-form-post" style="display: none;" class="bg-blue-500 text-center pt-6 pb-2">
                            <form id="form-post" action="{% url 'forum:post_update' category.id thread.id post.id %}" method="POST">
                                {% csrf_token %}
                                <p>

                                    <textarea name="text" cols="40" rows="10" maxlength="3000" id="form_text" required>{{ post.text }}</textarea> 
                                </p>
                                <input class="styled-button" type="submit" value="Update Post">
                            </form>

                            <a class="styled-button" href="{% url 'forum:post_delete' category.id thread.id post.id %}">Delete This Post</a>
                        </div>
                    {% endif %}
                    </div>
                </div>

        {% endfor %}
    </div>
    {% else %}
        
        <div id="posts-container"></div>
        <h2 id="h2">No posts yet!</h2>
        <p id="p">Create a new post!</p>

    {% endif %}
</div>

<script src="{% static 'js/thread_details.js' %}?3"></script>

{% endblock %}