input[type="text"] {
    border: 1px solid #e2e8f0; 
    width: 420px;
    margin: 0 auto;
    
}


body { 
  background-color: #11a6ee;
  text-align: center;
  font-family: 'Lato', sans-serif !important;  
}

.styled-link {
    display: inline-block;
    padding: 5px 10px;
    background-color: #3771AD;
    color: white;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
    border-radius: 4px;
    margin-bottom: 8px;
    margin-top: 8px;
  }
  
  .styled-link:hover {
    background-color: #5089c7;
  }

  .styled-button {
    background-color: #3771AD;
    color: black;
    padding: 8px 16px;
    border-radius: 4px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;
  }
  
  .styled-button:hover {
    background-color: #5089c7; 
  }

  img {
    margin-top: 20px
  }

  .logo {
    display: flex; 
    margin: auto; 
    max-width: 80%; 
    height: auto; 
    margin: 0px;
}
.nav-logo {
    max-width: 100%; 
    height: 75px;
    display: block; 
    margin: 0px;
}

.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    padding: 8px 12px;
}

.nav-item {
    margin: 0;
    padding: 0;
}

.nav-item a {
    color: black;
    text-decoration: none;
    display: block;
    padding: 8px;
    margin-top: 0px;
    margin-bottom: 0px;
    transition: background-color 0.3s, color 0.3s;
}

.nav-item a:hover {
    color: #fff;
    text-decoration: underline;
}



.graphic {
    height: 300px;
    width: 500px;
    position: absolute;
    top: 700px; 
}

.handjet-font {
  font-family: 'Handjet', sans-serif;
  font-size: 6rem !important; 

}

.handjet-font-header {
  font-family: 'Handjet', sans-serif;
  font-size: 25px;
}

